
.red{
  color: red;
}

.sidebarProduct {
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.79);
  border-radius: 10px;
  min-height: 5rem;
  padding: 1rem; }

.productNavigate {
  list-style: none;
  font-weight: 500;
  padding: 0;
  margin-top: 0; }

.productNavigate li:hover a {
  color: coral; }
  html, body {
    height: 100%;
  }

  /* Container chứa toàn bộ nội dung trang */
  .container {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px; /* Chiều cao của footer */
  }

  /* Footer */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px; /* Chiều cao của footer */
    background-color: #f8f9fa;
    text-align: center;
  }